*{
    margin:0;
    padding:0;
}
html{
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
    height:100%;
}
body{
    width:80%;
    height:100vh;
    background-color:grey;
    flex:0 1 auto;
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    flex:0 1 auto;
    
    width: 300px;
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.container li{
    list-style:none ;
    margin-top: 15px;
}
.container a{
    text-decoration: none;
    color:aliceblue;
}
#odin-recipes-header{
    flex:0 1 auto;
    align-self: center;
    background-color: rgb(33, 97, 7);
    border-radius: 15px;
    color:aliceblue;
    padding:10px;
}
#odin-recipes-links{
    margin-top: 35px;
    flex:0 1 auto;
    align-self: center;
    padding-left: 20px;
    background-color: rgb(33, 97, 7);
    padding:30px;
    border-radius: 15px;
}
#pancake-ingredients li{
    list-style: none;
}
#pancake-ingredients{
    font-size: large;
}
#page-title{
    padding:35px;
    margin-top: -55px;
    flex:0 1 auto;
    border-radius: 15px;
    background-color: rgb(33, 97, 7);
    color:aliceblue;
    margin-bottom: 35px;
    margin-top: 25px;
}
#pancake-image{
    flex:0 1 auto;
    background-color: rgb(33, 97, 7);
    color:aliceblue;
    border-radius: 10px;
    padding: 50px;
}
#image_with_description{
    display:flex;
    
    
}
#images_embed{
    width:200px;
    height: 200px;
    flex: 0 1 auto;
   
    align-self: center;
    margin-right: 200px;
}
#embedded_image_caption{
    flex:0 1 auto;
   
    align-self: center;
    font-size: larger;
    margin-left: -200px;
    padding:35px;
}
#ingredients_steps{
    display:flex;
  
}
#pancake-ingredients{
    flex: 0 1 auto;
}
#pancake_steps{
    flex:0 1 auto;
    margin-left: 30px;
    padding-left: 30px;
}
#back_btn{
    margin-left:400px;
    background-color: goldenrod;
    padding: 15px;
    border-radius: 15px;
    color:aliceblue;
    text-decoration: none;
    font-size: larger;
    border:5px solid aliceblue;
}

#image_description_title,#ingredient-title,#pancake_steps_title{
    font-size:x-large;
    margin-bottom: 10px;
}
